name: Node.js CI

on: push

jobs:
  build:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Node.js dependencies
        env:
          NODE_ENV: ci
        shell: bash
        run: |
          #npm config set @coinspace:registry https://npm.pkg.github.com
          #npm config set "//npm.pkg.github.com/:_authToken" "${NPM_READ_TOKEN}"
          npm ci --force
      - name: Build app
        shell: bash
        run: |
          ls -lah node_modules
          npm list --depth 2
